{% block content %}
  <h2>Upload</h2>
  <form  action="{% url 'post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}
{% endblock %} 


<<!-- form action="post" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-inline">
     <input type="file" name="titles_file" class="form-control input-sm mr-2">
     <button type="submit" class="btn btn-primary">Upload</button>
</div>  
</form> -->

<!-- <form action="/" method="post"> 
  {% csrf_token %} 
  {{ form }} 
  <input type="submit" value="UploadFile">

</form> -->

